.scroll-controlller {
  display: flex;
  justify-content: center;
  align-content: center;

  &__field {
    width: 275px !important;
    top: -4px;
  }

  &__button {
    padding: 0 !important;
    height: 24px !important;
    width: 24px !important;
  }
}

#column-id-scroll-controller > .MuiMenu-paper {
  max-height: 512px;
  margin-top: 32px;
}
