.editable-cell {
  display: flex;
  justify-content: center;
  min-width: 100%;
  &:hover ::before {
    border-bottom-width: 2px !important;
  }
  &__underline {
    &::after {
      border-bottom: 2px solid $mint-color !important;
    }
  }
  &.error {
    .editable-cell__underline {
      &::after {
        border-bottom: 2px solid $red-color !important;
      }
    }
  }

  &__value {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    min-width: 20px;
    &.edited-cell {
      .text {
        &:before {
          border-bottom-width: 2px;
        }
      }
    }
    .text {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;

      &:before {
        left: 0;
        right: 0;
        bottom: -5px;
        content: "";
        position: absolute;
        border-bottom: 1px solid $mint-color;
      }
    }
  }

  &.empty {
    cursor: text;
  }
}

.edited-cell {
  color: $mint-color;
  font-weight: bold !important;
}
