.table-root {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;

  .table-cell {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .table-overflow-wrapper {
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    white-space: nowrap;
    vertical-align: middle;
    box-shadow: inset 0 1px 0 0 rgba(236, 236, 236, 0.5);
    border-width: 0px !important;
    min-width: 100%;
  }

  .table-cell-sub-item-toggle {
    margin-left: -20px !important;
  }

  .table-cell-container {
    height: 100%;
    position: relative;
  }

  .table-column {
    font-size: 0.875rem;
    text-align: left;
    font-weight: 400;
    line-height: 1.43;
    vertical-align: inherit;
    padding: 4px 16px 4px 16px;
    box-sizing: border-box;
    outline: none;
    position: relative;

    &.disabled {
      background-color: rgba(195, 195, 195, 0.17);
    }

    &.selected {
      background-color: rgba(2, 171, 255, 0.1) !important;
    }

    &.elevated-start + .table-column {
      .table-overflow-wrapper {
        position: relative;
        &::after {
          content: "";
          border: solid 1px transparent;
          box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.5);
          position: absolute;
          height: calc(100% + 5px);
          top: 0;
          right: calc(100% + 5px);
        }
      }
    }

    &.elevated-end + .elevated-absolute {
      .table-overflow-wrapper {
        position: relative;
        &::after {
          position: absolute;
          top: 0;
          content: "";
          height: 100%;
          right: 100%;
          width: 1px;
          border: solid 1px transparent;
          box-shadow: 0px 0 7px -1px rgba(0, 0, 0, 0.5) !important;
        }
      }
    }

    &.elevated-absolute {
      position: absolute;
      right: 0;
      background-color: white;
    }
  }
}

.cell-value {
  overflow: hidden;
  text-overflow: ellipsis;

  .cell-skeleton-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

th {
  .cell-value {
    width: 100%;
    white-space: nowrap;
    text-align: start;

    .cell-skeleton-container {
      justify-content: start;
    }
  }
}
