$blue-color: #0082c3;
$orange-color: #e86430;
$red-color: #e12617;
$green-color: #00a453;
$mint-color: #02c18d;
$dark-black-color: #242323;
$icon-grey-color: #737373;
$light-grey-color: #aaa;
$white-grey-color: #ccc;
$white-color: #fff;
