$blue-color: #0082c3;
$dark-blue-color: #004876;
$blue-light-color: #4eb0ed;
$blue-white-color: #b5e6ff;
$white-blue-color: #d1e8f4;

$yellow-color: #ffc702;
$orange-color: #e86430;
$orange-light-color: #f18a41;
$red-color: #e12617;
$green-color: #00a453;
$light-green-color: #62b608;
$mint-color: #02c18d;

$true-black-color: #1a171b;
$dark-black-color: #242323;
$wall-grey-color: #575d5e;
$icon-grey-color: #737373;
$dark-grey-color: #737373;
$light-grey-color: #aaa;
$white-grey-color: #ccc;
$white-light-grey-color: #eee;
$disabled-grey-color: rgba(0, 0, 0, 0.26);
$white-light-darken: #fafafa;
$white-color: #fff;
$notif-red-color: #ff3131;

$text-color: $dark-grey-color;
$text-color-light: $light-grey-color;

$link-color: $dark-grey-color;
$link-hover-color: $blue-color;
$link-icon-color: $dark-grey-color;
$link-icon-hover-color: $blue-color;

$line-color: $white-color;
$line-hover-color: #d4d4d4;
$odd-line-color: #e8e8e8;
$odd-line-hover-color: $line-hover-color;

$border-color: #e0e0e0;

$rating-highest: #f44336;
$rating-higher: #ef9a9a;
$rating-high: #fff176;
$rating-normal: white;
$rating-low: #aed581;
