$media: screen;
$media_feature: min-width;

$spacing: 10px;
$spacing-lg: 25px;
$spacing-lg-2x: 50px;
$gutter-s: 2px;
$gutter: 4px;
$gutter-lg: 8px;

$media_value_large_device: 600px;
$media_value_medium_device: 430px;
$media_value_small_device: 360px;

$z-index-header: 1500 !important;

$topbar-height: 55px;

$topbar-height-small: 50px;

$table-height: calc(100vh - 160px); // 160px = $topbar-height + $topbar-height + $topbar-height-small

@mixin appear {
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin appear-bottom {
  @keyframes appear-bottom {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin appear-right {
  @keyframes appear-right {
    0% {
      transform: translateX(20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin appear-hor-expand {
  @keyframes appear-hor-expand {
    0% {
      max-width: 0;
    }
    100% {
      max-width: 100%;
    }
  }
}
