@mixin flex-column($direction: column, $display-fix: block) {
  display: $display-fix; /* IE fix */
  display: flex;
  flex-direction: $direction;
}

@mixin flex-grow-column($direction: column) {
  @include flex-column($direction);
  flex-grow: 1; /* Mozilla fix */
}

@mixin overlay($position: fixed, $index: 100) {
  position: $position;
  z-index: $index;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-column();
  justify-content: center;
  background: rgba(138, 138, 138, 0.5);
}
